* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: rgb(0 0 0 / 50%);
  color: #fefefe;
  background-color: #1a1a1a;
  font-family: "Poppins", "Montserrat", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: fixed;
  top: 86px;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 120px;
  padding: 6px 0;
  display: grid;
  visibility: hidden;
  border-radius: 12px;
  background: #fefefe;
  transition: 0.3s;
}

.menu a:is(:hover, .active) {
  color: var(--color-primary);
}

.dropdown.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: -12px;
  width: 100%;
  height: 50px;
}

.dropdown > a {
  position: relative;
  z-index: 1;
  height: 40px;
  font-size: 14px;
}
