* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  color: #fefefe;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  font-family: "Poppins", "Montserrat", sans-serif;
}

.accordion {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0.8rem;
  list-style: none;
  color: #fefefe;
  border-radius: 5px;
  background-color: #2e303d;
}

.accordion-item h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.7;
  height: 48px;
  /* margin: 0 0 10px; */
  padding: 0 10px 0 20px;
  color: #f8f8f8;
  border-radius: 8px;
  font-size: 18px;
  background-color: #292b36;
  transition: 0.3s;
}

.accordion-item h2:hover {
  opacity: 1;
  background-color: #353847;
}

.accordion-item h2.active {
  opacity: 1;
  background-color: #3472ff;
}

.accordion-item h2.active span:last-child {
  rotate: -180deg;
}

.accordion-item p {
  margin: 0;
  opacity: 0.65;
  font-size: 14px;
  line-height: 1.7;
  padding: 0 20px 10px;
  padding: 5px 10px;
}

.accordion-item h2 span {
  transition: 0.3s;
}

.accordion-content {
  position: relative;
  height: 0;
  margin: 4px 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
