* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* display: grid;
  place-items: center; */
  color: rgb(0 0 0 / 50%);
  color: #ccc;
  background-color: #1a1a1a;
  /* background-image: url("./setup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  font-family: "Poppins", "Montserrat", sans-serif;
  overflow-x: hidden;
}

.sidebar {
  width: 280px;
  padding: 8px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 4%);
}

.sidebar header {
  display: flex;
  align-items: center;
  height: 64px;
}

header h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  color: inherit;
}

.sidebar ul {
  list-style: none;
}

button,
button span,
.block {
  transition: 0.3s;
}

.sidebar button {
  border: 0;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0 16px;
  gap: 10px;
  opacity: 0.75;
  color: inherit;
  background: transparent;
}

.sidebar button:hover {
  opacity: 1;
}

.sidebar button span:first-child {
  color: #a0a0b8;
}

.sidebar button span:nth-child(3) {
  rotate: 90deg;
  margin-left: auto;
}

.block.open button span:nth-child(3) {
  rotate: 0deg;
}

.blocks {
  display: grid;
  gap: 8px;
}

.block {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background: rgb(255 255 255 / 3%);
}

.block.open,
.block:hover {
  background: rgb(255 255 255 / 6%);
}

.block-inner {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.block-items button {
  opacity: 0.55;
  border-radius: 0;
}

.block-items button:hover {
  opacity: 1;
  background: rgb(255 255 255 / 3%);
}
