* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #17132a;
  background-size: cover;
}

body::after {
  content: fixed;
  position: fixed;
  inset: 0;
  z-index: 0;
  background: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 0%));
}

.sidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 26px;
  z-index: 2;
  width: 56px;
  border-radius: 14px;
  background: rgb(255 255 255/ 6%);
  border: 1px solid rgb(255 255 255/ 6%);
  backdrop-filter: blur(10px);
  transition: width 0.45s;
}

.sidebar button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

.sidebar.open {
  width: 190px;
}

.sidebar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
}

.sidebar header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 64px;
}

.burger {
  width: 44px;
  height: 72px;
  display: grid;
  justify-items: center;
  color: #f9f9f9;
}

.sidebar header img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar nav {
  display: grid;
  gap: 20px;
  padding: 0 6px;
}

.sidebar nav button {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  gap: 12px;
  opacity: 0.7;
  line-height: 1;
  font-size: 14px;
  padding: 0 12px;
  color: #f9f9f9;
  border-radius: 8px;
  text-transform: capitalize;
  transition: 0.3s;
}

.sidebar nav button:hover {
  opacity: 1;
  background: rgb(255 255 255/ 6%);
}

.sidebar:not(.open) nav button p {
  opacity: 1;
  padding: 8px 12px;
  border-radius: 6px;
  background: rgb(0 0 0 / 20%);
  backdrop-filter: blur(10px);
  translate: 10px 0;
}

.sidebar header img,
.sidebar nav button p {
  opacity: 0;
  pointer-events: none;
  transition: 0.25s;
}

.sidebar.open :is(nav button p, header img) {
  opacity: 1;
}

.sidebar.open nav button {
  width: 100%;
}
